

/* 
main header (logo, nav), margin, padding, text-align criteria met
*/

.banner{
  margin: 0;
  padding-bottom: 100px;
  width: 100%;
  height: auto;
 
}

 .logo {
  font-family: 'Homemade Apple', cursive;
  color: #285178;
  padding: 0px 0px 0px 0px;
  margin: 0;
  float: left;
  width: 15%;
  text-align: right;

}

.points {
  padding: 10px 0px 20px 20px;
  margin: 0;
  width: 30%;
  float: right;
  color: black;
  text-align: center;
  
}

/* image centering and display */
 img {
   width: 30%;
   height: auto;
   border-radius: 50%;
   
 }

 .center {
    display: flex;
    margin-left: auto;
    margin-right: auto 
}

h1{
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  text-align: center;
  color: #79828a;
}

h6{
  text-align: center;
}

/* h2 centering for about me, and contact section */
.cont1{
  font-family: 'Homemade Apple', cursive;
  text-align: center;
  padding-bottom: 25px;
  color: #5b80a3;
}

.about {
  font-family: 'Homemade Apple', cursive;
  text-align: center;
 color: #5b80a3;
}


/*creating containers to assist with layout haven't covered flex yet*/

.love-hate{
  margin: 5%;
  margin-right: 5%;
  padding-bottom: 50px;
  }

.contact {
  display: flex;
 justify-content: space-evenly;
  padding-bottom: 50px;
}


/*adjusting and styling boxes within above containers */


.love-hate-box {
 
  width: 90%;
  padding-left: 10%;
}




p{
  padding-left: 10%;
}

.contact {
  display: flex;
 justify-content: space-evenly;
  padding-bottom: 50px;
}


.cont2 {
  font-family: 'Rubik', sans-serif;
  font-weight: 800;
   text-align: center;
    border: 10px outset;
    width: 30%;
    padding: 50px;
  background-color: #e8e6df59;
}


/*adding color and features*/

body {
font-family: 'Rubik', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  background-color: white;
color: #79828a
}

/* styling pseudo elements */

nav a {color: #285178;}
nav a:hover{color: #7ebacc ;}
nav a:active{color: aliceblue}

a {color: #285178}
a:hover{color:#d9d1ba;}
a:active{color: antiquewhite;}
